body {
	background-image: url("../img/flowers.jpg");
	background-position: center;
	background-size: cover;
	font-family: 'Yellowtail', cursive;
	text-align: center;
	
}

#results {
	color: #fff;
	padding:10px;
}

.row h1 {
	font-size: 50px;
	color: #ff1491;
	text-align: center;
	 text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}
.row label{
	color: grey;
	font-size: 30px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align: center;
}
.button {
	padding: 5px 20px;
	border-color: grey;
	border-radius: 5px;
	background-color: #ff1491;
	color: white;
	font-size: 20px;
	margin-right: 20px;
}
#buttons {
	display: inline-block;
}

.success {
	background-color: #5cb85c;
	transition: 0.3s all ease-in-out;
/*	background-image: url(../img/answer.jpg);*/
	background-position: center;
	background-size: cover;
}

.failure {
	background-color: #d9534f;
	transition: 0.3s all ease-in-out;
}
